.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.selected-move {
    font-weight: bolder;
    border: 1px solid #32DE8A;
}